/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2020-05-18 22:57:57
 * @version $Id$
 */
html,body{
	width: 100%;
	height: 100%;
	background: url(../img/home1.png) no-repeat;
	background-size: 100% 100%;
}
#boxcont{
	width: 70%;
	padding-top: 1rem;
	width: 5rem;
	font-size: 0.3rem;
	padding-left: 15%;
}
#boxcont input{
	width: 100%;
	height: 0.6rem;
	border-radius: 0.3rem;
	background-color: none;
	outline: none;
	border: 1px solid #e9e9e9;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-indent: 0.2rem;
    color: #333;
}
.butt{
	width: 100%;
	height: 0.6rem;
	border-radius: 0.3rem;
	outline: none;
	background: #2692ff;
    text-align: center;
    font-size: 0.3rem;
    color: #fff;
    border: none;
    margin-top: 0.2rem;
}
#canvas{
	width: 100%;
	height: 100%;
	display: none;
	background: -webkit-linear-gradient(top,rgb(203,235,219) 0%,rgb(55,148,192) 120%);
    background: -moz-linear-gradient(top,rgb(203,235,219) 0%,rgb(55,148,192) 120%);
    background: -o-linear-gradient(top,rgb(203,235,219) 0%,rgb(55,148,192) 120%);
    background: -ms-linear-gradient(top,rgb(203,235,219) 0%,rgb(55,148,192) 120%);
    background: linear-gradient(top,rgb(203,235,219) 0%,rgb(55,148,192) 120%);
}
#canvas canvas{
	width: 100%;
	height: 100%;
}