/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2020-05-18 22:57:57
 * @version $Id$
 */
html, body {
      position: relative;
      height: 100%;
    }
    body {
      background: #eee;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color:#000;
      margin: 0;
      padding: 0;
    }
    .swiper-container {
      width: 100%;
      height: 100%;
    }
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }
.dg{
	display: none;
}
#mp3{
	position: fixed;
	top: 0.2rem;
	right: 0.3rem;
	width: 0.8rem;
	height: 0.8remx;
	z-index: 10;
}
#mp3 #playmusic{
	width: 0.8rem;
	height: 0.8rem;
	background: url(../img/music.png) no-repeat;
	background-size: 100% 100%;
}
canvas{
	position: relative;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.textbox{
	position: fixed;
	left: 0.2rem;
	top: 0.5rem;
	width: 70%;
	border:1px solid #ddd;
	border-radius: 10px;
	background: none;
	min-height: 1rem;
	box-sizing: border-box;
	box-shadow: 2px 2px 2px #888888;
	padding:10px;
}
.textbox p{
	width: 100%;
	line-height: 0.6rem;
	word-wrap:break-word;
	word-break:normal; 
	text-align: left;
	text-indent: 2em;
}